/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("temp.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content within the container */
}

.converter {
    margin-bottom: 20px;
    margin-top: 20px; /* Add some space between elements in the converter section */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 16px); /* Make the input full-width with padding */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding in the input width calculation */
}

button {
    width: 100%; /* Make the button full-width */
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
